/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.center {
    text-align: center;
    margin: auto;
}

.bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}
